@model List<Career>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
    var ctx = new Eagles.LMS.BLL.UnitOfWork();
    List<CareerInServices> CareerInServices = new List<CareerInServices>();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">
                    Careers
                </h4>



            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" style="padding-bottom:30px;">

                        <table id="table_Slider" class=" table table-bordered tableOtherdite">
                            <thead class="DarkThead">
                                <tr>
                                    <th> <p> Name</p> </th>
                                    <th> <p>Date Of Birth </p></th>
                                    <th> <p>Address </p></th>
                                    <th> <p>Certification</p> </th>
                                    <th> <p>Graduation Years </p></th>
                                    <th> <p>Experiance Level  </p></th>

                                    <th> <p>Job Name </p></th>
                                    <th> <p>Cv </p></th>


                                </tr>
                            </thead>


                            <tbody>


                                @foreach (var item in Model)
                                {
                                    CareerInServices = ctx.CareerInServicesManager.GetAllIncluded(item.Id);

                                    <tr>

                                        
                                        <td> <p>@item.Name</p> </td>
                                        <td> <p>@item.DateOfBirth</p> </td>
                                        <td> <p>@item.Address</p> </td>
                                        <td> <p>@item.Certification</p> </td>
                                        <td> <p>@item.GraduationYears</p> </td>
                                        <td> <p>@item.ExperianceLevel</p> </td>
                                        <td> <p>@item.JobName</p> </td>
                                        <td> 

                                            <a href="@item.CVLink" style="font-size: 25px; color: #2a3042; "  target="_blank">
                                                <i class="bx bxs-file-pdf"></i>
                                            </a>
                                         </td>

                                        @*<td>
                                                @if (bookingInServices != null && bookingInServices.Any())
                                                {
                                                    foreach (var book_services in bookingInServices)
                                                    {
                                                        <span>@book_services.BookingService.Name</span>
                                                        <span> - </span>
                                                    }
                                                }
                                            </td>*@


                                    </tr>
                                }


                            </tbody>





                        </table>
                    </div>



                </div>
            </div>
        </div> <!-- end col -->

    </div>

</div>




@section EndBody{

} 