@model Board
@{
    ViewBag.Title = "BoardDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    var BordId = ViewBag.id;
    var BoardTaps = ctx.BoardTapsManager.GetAll().ToList();

    var SubTaps = ctx.BoardTapsManager.GetAll().ToList();
    bool en = true;


    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}


@section metatags{
    <meta name="keywords" id="metaKeyword" content="empcnews, news, Home, empc, main, Booking " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}
@section EndHeader{

}

<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.BoardChairs</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.BoardChairs</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->
                </div>
                <!--end title-header-->
            </div>
            <!--end col-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->
<!-- Team Details -->
<section class="team-details section-padding2" style="margin:50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-60">
                <div class="content">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="@Model.Image" class="img-fluid" alt="" />


                            <div class="DaenloadCV">
                                <a href="#" ><i class="fa fa-download"></i> Dowenload CV</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="text-content v-middle TamDetailsCont">
                                <div class="forflex">

                                    <div class="" style="width:100%">
                                        <div class="mb-5">
                                            @if (en)
                                            {
                                                <h3>@Model.NameEnglish</h3>
                                                <h2>@Model.JobTitleEnglish</h2>
                                                <p>@Html.Raw(@Model.JobDescriptionEnglish)</p>
                                            }
                                            else
                                            {
                                                <h3>@Model.NameArabic</h3>
                                                <h2>@Model.JobTitleArabic</h2>
                                                <p>@Html.Raw(@Model.JobDescriptionArabic)</p>
                                            }
                                        </div>


                                        <div class="accordion" id="accordionExample">
                                            @*<div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Tape Item 1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="text-muted">
                        <strong class="text-dark">This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </p>
                </div>
            </div>
        </div>*@

                                            @foreach (var bordItem in BoardTaps.Where(s => s.Parent_Id == 0 && s.Board_Id == Model.Id))
                                            {
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading_@bordItem.Id">
                                                        <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@bordItem.Id" aria-expanded="false" aria-controls="collapse_@bordItem.Id">
                                                            @if (en)
                                                            {
                                                                @bordItem.Title_EN
                                                            }
                                                            else
                                                            {
                                                                @bordItem.Title_AR
                                                            }
                                                        </button>
                                                    </h2>
                                                    <div id="collapse_@bordItem.Id" class="accordion-collapse collapse" aria-labelledby="heading_@bordItem.Id" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            @if (en)
                                                            {
                                                                <div class="MainTapDesc">
                                                                    @Html.Raw(@bordItem.Description_EN)
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="MainTapDesc">
                                                                    @Html.Raw(@bordItem.Description_AR)
                                                                </div>
                                                            }


                                                            <div class="SubTaps">
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-pills nav-justified" role="tablist">

                                                                    @foreach (var SubItem in SubTaps.Where(s => s.Parent_Id == bordItem.Id))
                                                                    {
                                                                        <li class="nav-item waves-effect waves-light">
                                                                            <a class="nav-link " data-bs-toggle="tab" href="#home_@SubItem.Id" role="tab">
                                                                                @if (en)
                                                                                {
                                                                                    <span class="">@SubItem.Title_EN </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="">@SubItem.Title_AR </span>
                                                                                }

                                                                            </a>
                                                                        </li>
                                                                    }

                                                                </ul>

                                                                <!-- Tab panes -->
                                                                <div class="tab-content text-muted">
                                                                    @foreach (var SubItem in SubTaps.Where(s => s.Parent_Id == bordItem.Id))
                                                                    {
                                                                        <div class="tab-pane " id="home_@SubItem.Id" role="tabpanel">
                                                                            <div class="tab-pane_Body">
                                                                                @if (en)
                                                                                {
                                                                                    <div class="TapDescrip">
                                                                                        @Html.Raw(@SubItem.Description_EN)
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="TapDescrip">
                                                                                        @Html.Raw(@SubItem.Description_AR)
                                                                                    </div>
                                                                                }
                                                                            </div>

                                                                        </div>

                                                                    }

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <!-- end accordion -->









                                        <div class="team-details-info">
                                            <ul class="info-list clearfix">
                                                @if (!string.IsNullOrEmpty(Model.Phone))
                                                {
                                                    <li>
                                                        <div class="list-title">@Resources.Global.ContactMe :</div>
                                                        <div class="list-description"><a href="tel:@Model.Phone" tabindex="0">@Model.Phone</a></div>
                                                    </li>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Email))
                                                {
                                                    <li>
                                                        <div class="list-title">@Resources.Global.Email :</div>
                                                        <div class="list-description"><a href="mailto:@Model.Email">@Model.Email</a></div>
                                                    </li>
                                                }


                                            </ul>
                                        </div>
                                        <ul class="social-icons square">
                                            @if (!string.IsNullOrEmpty(Model.FaceLink))
                                            {
                                                <li> <a href="@Model.FaceLink" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.twiterLink))
                                            {
                                                <li> <a href="@Model.twiterLink" target="_blank"><i class="fab fa-twitter"></i></a> </li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.LinkedInLink))
                                            {
                                                <li> <a href="@Model.LinkedInLink" target="_blank"><i class="fab fa-linkedin-in"></i></a> </li>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.GoogleLink))
                                            {
                                                <li> <a href="@Model.GoogleLink" target="_blank"><i class="fab fa-google-plus-g"></i></a> </li>
                                            }
                                        </ul>


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Member -->