
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
}

@section PageTitle{
    <title>@SEO.CareersPageTitle</title>
}
@section metatags{
    <meta name="keywords" content="@SEO.CareersPageMetaKeywords " />
    <meta name="description" id="metaDesc" content="@SEO.CareersPageMetaDescription" />
    <link rel="canonical" id="canonicalUrl" href="@SEO.CareersPageCanonicalUrl" />
}


<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.Careers</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.Careers</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->
                </div>
                <!--end title-header-->
            </div>
            <!--end col-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->
<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submited Successfuly</p>
            </div>
        </div>
    </div>

</div>