
@model Career
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    var jobs = new Eagles.LMS.BLL.UnitOfWork().JobsManager.GetAllBind();
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}

@if (en)
{
    @section PageTitle{
        <title>@SEO.CareersPageTitle</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.CareersPageMetaKeywords " />
        <meta name="description" id="metaDesc" content="@SEO.CareersPageMetaDescription" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.CareersPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        <title>@SEO.CareersPageTitle_AR</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.CareersPageMetaKeywords_AR " />
        <meta name="description" id="metaDesc" content="@SEO.CareersPageMetaDescription_AR" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.CareersPageCanonicalUrl" />
    }
}

@section EndHeader{
    <link href="~/assets_2/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <style>
        .stikeyHeader {
            z-index: 99;
        }
    </style>
}

<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.Careers</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.Careers</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->
                </div>
                <!--end title-header-->
            </div>
            <!--end col-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->




<div class="container sendmessage" style="padding:50px 0; width:80%; margin:auto;">
    <div class="row">

        <div class="col-md-12">

            <h3>@Resources.Global.Careers</h3>
        </div>

        <div class="cleaner-h2"></div>

        <div class="col-lg-12">
            <div class="row">

                @using (Html.BeginForm("Careers", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="col-lg-12">
                        <div class="CitizenFormSend">
                            <div class="container sendmessage">
                                <form action="#" method="post">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.Name</label>
                                                @Html.TextBoxFor(s => s.Name, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.Name
                                           })
                                            </div>



                                        </div>
                                        <!--end col-6-->


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.dateOfBirth</label>
                                                @Html.TextBoxFor(s => s.DateOfBirth, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.dateOfBirth,
                                               @type = "date"
                                           })
                                            </div>
                                        </div>
                                        <!--end col-6-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.address</label>
                                                @Html.TextBoxFor(s => s.Address, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.address
                                           })
                                            </div>
                                        </div>
                                        <!--end col-6-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.Education</label>
                                                @Html.TextBoxFor(s => s.Certification, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.Education
                                           })
                                            </div>


                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.certificationYeears</label>
                                                @Html.TextBoxFor(s => s.GraduationYears, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.certificationYeears
                                           })
                                            </div>


                                        </div>


                                        @*<div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@Resources.Global.JobAppliedFor</label>
                                                    @Html.DropDownList("F00", new SelectList(jobs.Select(x => new { Value = x.Id, Text = x.NameEnglish }), "Value", "Text"))
                                                </div>


                                            </div>*@












                                        @if (en)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@Resources.Global.ExperianceLevel</label>



                                                    @Html.DropDownListFor(model => model.ExperianceLevel,
                                                      new List<SelectListItem> {
                                                           new SelectListItem { Value = "" , Text = "Select Year" },
                                                           new SelectListItem { Value = "Fresh Graduate" , Text = "Fresh Graduate" },
                                                           new SelectListItem { Value = "From 1 To 3" , Text = "From 1 To 3" },
                                                           new SelectListItem { Value = "From 3 To 5 Years" , Text = "From 3 To 5 Years" },
                                                           new SelectListItem { Value = "More Than 5 Years" , Text = "More Than 5 Years" }
                                                        },
                                                      new { @class = "myselect", @required = "required", @id = "ExperianceLevelID" })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>@Resources.Global.ExperianceLevel</label>



                                                    @Html.DropDownListFor(model => model.ExperianceLevel,
                                                      new List<SelectListItem> {
                                                           new SelectListItem { Value = "" , Text = "اختر " },
                                                           new SelectListItem { Value = "Fresh Graduate" , Text = "حديث التخرج" },
                                                           new SelectListItem { Value = "From 1 To 3" , Text = "من سنه الى 3 سنين" },
                                                           new SelectListItem { Value = "From 3 To 5 Years" , Text = "من 3 الى 5 سنين" },
                                                           new SelectListItem { Value = "More Than 5 Years" , Text = "اكثر من 5 سنين" }
                                                        },
                                                      new { @class = "myselect", @required = "required", @id = "ExperianceLevelID" })
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.JobName</label>
                                                @Html.TextBoxFor(s => s.JobName, null, new
                                           {
                                               @class = "form-control",
                                               placeholder = @Resources.Global.JobName
                                           })
                                            </div>


                                        </div>


                                        <div class="col-xs-6 col-md-6">
                                            <div class="form-group">
                                                <label>@Resources.Global.CV </label>
                                                <div class="input-group image-preview">
                                                    <input type="text" class=" image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                                    <div class="input-group-btn">
                                                        <div class="btn btn-default image-preview-input">
                                                            <span class="glyphicon glyphicon-folder-open"></span>
                                                            <span class="image-preview-input-title">@Resources.Global.Browse</span>
                                                            <input id="Careers_UploadCv" name="uploadattachments" type="file" @*name="input-file-preview"*@ /> <!-- rename it -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <button id="Careers_SendForm" type="submit" class="btn btn-black">@Resources.Global.Send</button>
                                            </div>
                                        </div>
                                        <!--end col-12-->


                                    </div>
                                    <!--end row-->

                                </form>

                            </div>
                            <!--end container-->
                        </div>
                    </div>

                }

            </div>
        </div>
        @*<button id="Sends" class="btn btn-black">@Resources.Global.Send</button>*@




    </div>
    <!--end row-->
</div>
<!--end container-->
@section EndBody {

    <script src="~/assets_2/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets_2/default/base/Scripts.bundle.js" type="text/javascript"></script>
    <script src="~/assets_2/plugins/extended/bootstrap-notify.js" type="text/javascript"></script>



    @if (requestStatus != null)
    {

        <script>

    notify = $.notify({
        message: '@requestStatus.Message',

    }, {

        type: '@requestStatus.Status' == 'Created' ? "success" : "danger",
        animate: {
            enter: 'animated flipInY',
            exit: 'animated flipOutX',
        }
    });
        </script>

        TempData.Remove("RequestStatus");
    }


    <script>
        $(() => {
            function errorMessage(error) {
                $.notifyClose();
                $.notify({
                    title: "Error:",
                    message: error,

                }, {
                    allow_dismiss: true,
                    showProgressbar: false,
                    type: "danger",
                    mouse_over: null,
                    animate: {
                        enter: 'animated flipInY',
                        exit: 'animated flipOutX',

                    }
                });
            }
            $("#Careers_SssendForm").click(s => {
                s.preventDefault();
                let obj = {};
                console.log(obj);
                if (validateForm(obj)) {
                    debugger
                    var _url = "/Home/Careerss";
                    var formdata = new FormData(); //FormData object
                    var fileUpload = $('#Careers_UploadCv').get(0);
                    var files = fileUpload.files;
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    fileData.append('username', 'Manas');
                    var filesNEwInput = document.getElementById('Careers_UploadCv').files[0];
                    //var fileInput = document.getElementById('Careers_UploadCv');

                    //Iterating through each files selected in fileInput
                    //for (i = 0; i < fileInput.files.length; i++) {
                    //    //Appending each file to FormData object
                    //    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                    //}

                    //var AttachCareer=JSON.stringify(obj.Data);
                    var AttachCareer = JSON.stringify(formdata);
                    $.ajax({
                        type: "post",
                        url: _url,
                        //contenttype: "application/json",
                        //data: 'uploadattachments='+AttachCareer ,
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data  ,

                        data: fileData,
                        success(resonse) {
                            alert("sent succesfully");
                            location.reload();
                        }, error(error) {
                            errorMessage(error.responseJSON.Message);
                        }
                    })

                }
            });
            function validateForm(obj) {

                let flag = false,
                    _Careers_Name = $("#Careers_Name").val(),
                    _Careers_DateOfBirth = $("#Careers_DateOfBirth").val(),
                    _Careers_Address = $("#Careers_Address").val(),
                    _Careers_Certification = $("#Careers_Certification").val(),
                    _Careers_CertificationYears = $("#Careers_CertificationYears").val(),
                    _Careers_ExperianceLevel = $("#Careers_ExperianceLevel").val(),
                    _Careers_JobName = $("#Careers_JobName").val();
                _Careers_UploadCv = $("#Careers_UploadCv").val();


                if (_Careers_Name == "" || typeof (_Careers_Name) == 'undefined') {
                    errorMessage("Please Enter The Your Name");
                    return false;
                }
                if (_Careers_DateOfBirth == "" || typeof (_Careers_DateOfBirth) == 'undefined') {
                    errorMessage("Please Enter Your Date Of Birth");


                    return false;
                }

                if (_Careers_Address == "" || typeof (_Careers_Address) == 'undefined') {
                    errorMessage("Please Enter Address");
                    return false;
                }

                if (_Careers_Certification == "" || typeof (_Careers_Certification) == 'undefined') {
                    errorMessage("Please Enter Certification");
                    return false;
                }
                if (_Careers_CertificationYears == "" || typeof (_Careers_CertificationYears) == 'undefined') {
                    errorMessage("Please Enter Certification Years ");
                    return false;
                }
                if (_Careers_JobName == "" || typeof (_Careers_JobName) == 'undefined') {
                    errorMessage("Please Enter Job Name");
                    return false;
                }
                if (Careers_ExperianceLevel.value == "" || typeof (Careers_ExperianceLevel) == 'undefined') {
                    errorMessage("Please Select Experiance Level");
                    return false;
                }
                if (Careers_UploadCv.value == "" || typeof (Careers_UploadCv) == 'undefined') {
                    errorMessage("Please Upload file");
                    return false;
                }


                obj.Data = {
                    Name: _Careers_Name,
                    DateOfBirth: _Careers_DateOfBirth,
                    Address: _Careers_Address,
                    Certification: _Careers_Certification,
                    GraduationYears: _Careers_CertificationYears,
                    JobName: _Careers_JobName,
                    ExperianceLevel: _Careers_ExperianceLevel,
                    CVLink: _Careers_UploadCv

                }
                return true;


            }
        })
    </script>



    @*<script type="text/javascript">
            function validate() {
                var NewsDate = document.getElementById('ExperianceLevelID').value;
                if (NewsDate == "") {

                    notify = $.notify({
                        message: 'Pls Enter Date',

                    }, {

                        type: 'NewsDate' == 'Created' ? "success" : "danger",
                        animate: {
                            enter: 'animated flipInY',
                            exit: 'animated flipOutX',
                        }
                    });

                    return false;
                }
            }
        </script>*@




    <script>
        $(document).on('click', '#close-preview', function () {
            $('.image-preview').popover('hide');
            // Hover befor close the preview
            $('.image-preview').hover(
                function () {
                    $('.image-preview').popover('show');
                },
                function () {
                    $('.image-preview').popover('hide');
                }
            );
        });

        $(function () {
            // Create the close button
            var closebtn = $('<button/>', {
                type: "button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;',
            });
            closebtn.attr("class", "close pull-right");
            // Set the popover default content
            //$('.image-preview').popover({
            //    trigger: 'manual',
            //    html: true,
            //    title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
            //    content: "There's no image",
            //    placement: 'bottom'
            //});
            // Clear event
            $('.image-preview-clear').click(function () {
                $('.image-preview').attr("data-content", "").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse");
            });
            // Create the preview image
            $(".image-preview-input input:file").change(function () {
                var img = $('<img/>', {
                    id: 'dynamic',
                    width: 250,
                    height: 200
                });
                var file = this.files[0];
                var reader = new FileReader();
                // Set preview image into the popover data-content
                reader.onload = function (e) {
                    $(".image-preview-input-title").text("Change");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
                }
                reader.readAsDataURL(file);
            });
        });
    </script>

}
