
@{
    ViewBag.Title = "Citizen";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UnitOfWork ctx = new UnitOfWork();

    var _Citizens = ctx.CitizensManager.GetAll().OrderByDescending(s => s.Id).ToList();
    bool en = true;
    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        _Citizens = _Citizens.Where(s => s.TitleEnglish != null).ToList();
    }
    else
    {
        _Citizens = _Citizens.Where(s => s.TitleArabic != null).ToList();

    }
}

@section metatags{
    <meta name="keywords" id="metaKeyword" content="empcnews, news, Home, empc, main, Citizen " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}
@section EndHeader{
    <style>
        .threecitizenimgadetails .bigimg {
            width: 100%;
            margin: auto;
            padding: 0;
        }
    </style>

}

<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.Citizen</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.Citizen</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->

                </div>
                <!--end title-header-->

            </div>
            <!--end col-6-->



        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->

<div class="threecitizenimgadetails newsssspagess">
    <div class="overlay">
        <div class="container">
            <div class="ciciccont">
                <div class="row otherrooow">

                    @foreach (var _citizen in _Citizens)
                    {
                        <div class="NewsCoool">
                            <div class="bigimg images">
                                <img src="@_citizen.Image">
                                <div class="discription">
                                    @if (en)
                                    {
                                        <h2>@_citizen.TitleEnglish </h2>
                                        <div class="ContentPargraph">
                                            <p>@Html.Raw(@_citizen.DescriptionEnglish)</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <h2>@_citizen.TitleArabic </h2>
                                        <div class="ContentPargraph">
                                            <p>@Html.Raw(@_citizen.DescriptionArabic)</p>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    }

                    @*<div class="col-lg-4 col-lg-4 col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="SmallImg images">
                                        <img src="~/assets_NewPublic/images/f18c.jpeg">
                                        <div class="discription">
                                            <h2>Citizen Discription Name</h2>
                                            <p>EMPC Media Services Center is a local TV news organization. With a great team of journalist, producers, reporters</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="SmallImg images">
                                        <img src="~/assets_NewPublic/images/f21c.jpeg">
                                        <div class="discription">
                                            <h2>Citizen Discription Name</h2>
                                            <p>EMPC Media Services Center is a local TV news organization. With a great team of journalist, producers, reporters</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="address">

                    <h3><i class="fa fa-envelope" aria-hidden="true"></i></h3>
                    <h4>Contact Us</h4>
                    <p>NewsDesk@empcnews.com</p>


                </div>
                <!--end adress-->
            </div>
            <!--end col-4-->










        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>

