
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestStatus = TempData.Peek("RequestStatus") as RequestStatus;
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    bool en = true;
    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
}

@if (en)
{
    @section PageTitle{
        <title>@SEO.ContactUsPageTitle</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ContactUsPageMetaKeywords " />
        <meta name="description" id="metaDesc" content="@SEO.ContactUsPageMetaDescription" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ContactUsPageCanonicalUrl" />
    }
}
else
{
    @section PageTitle{
        <title>@SEO.ContactUsPageTitle_AR</title>
    }
    @section metatags{
        <meta name="keywords" content="@SEO.ContactUsPageMetaKeywords_AR " />
        <meta name="description" id="metaDesc" content="@SEO.ContactUsPageMetaDescription_AR" />
        <link rel="canonical" id="canonicalUrl" href="@SEO.ContactUsPageCanonicalUrl" />
    }
}


<div class="header-bc">
    <div class="container">
        <div class="row">

            <div class="col-md-6">

                <div class="title-header">

                    <h3>@Resources.Global.ContactUs</h3>

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">@Resources.Global.Home</a> > </li>
                            <li>@Resources.Global.ContactUs</li>
                        </ul>
                    </div>
                    <!--end breadcrumb-->
                </div>
                <!--end title-header-->
            </div>
            <!--end col-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end header-bc-->
<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Request Is Submitted Successfully</p>
            </div>
        </div>
    </div>

</div>

