
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var SEO = ctx.SEOManager.GetAll().FirstOrDefault();
    //var services = ctx.ServiceManager.GetAll().OrderByDescending(s => s.Id).ToList();

    var servic = ctx.ServiceManager.GetAll().Where(s => s.Status == EntityStatus.Approval).OrderByDescending(s => s.Order).ToList();
    List<Service> services = new List<Service>();
    foreach (var service in servic)
    {
        if (service.Order != null && service.Order != 0)
        {
            services.Insert(0, service);
        }
        else
        {
            //sevic.Insert(services.Count(), service);
            services.Add(service);
        }
    }
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        services = services.Where(s => s.TitleEnglish != null).ToList();
    }
    else
    {
        services = services.Where(s => s.TitleArabic != null).ToList();

    }
}
@section PageTitle{
    <title>@SEO.ServicesPageTitle</title>
}
@section metatags{
    <meta name="keywords" content="@SEO.ServicesPageMetaKeywords " />
    <meta name="description" id="metaDesc" content="@SEO.ServicesPageMetaDescription" />
    <link rel="canonical" id="canonicalUrl" href="@SEO.ServicesPageCanonicalUrl" />
}

@section EndHeader{
    <style>
        .news {
            margin-top: -100px;
        }


        .menu li a.active-a3 {
            color: #af7a2c;
            border-bottom: 1px solid #fff0;
            font-weight: 500;
        }
    </style>
}
<div class="header-bc">

    <div class="ClassImaesBG">
        <img src="~/assets_NewPublic/images/bg/NEWBG/ServiceNewGB.jpg" />
    </div>

    <div class="PageTitleCOnt">
        <div class="container">
            <div class="row">

                <div class="col-md-6">

                    <div class="title-header">

                        <h3>@Resources.Global.services</h3>

                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/Home">@Resources.Global.Home</a> > </li>
                                <li>@Resources.Global.services</li>
                            </ul>
                        </div>
                        <!--end breadcrumb-->

                    </div>
                    <!--end title-header-->

                </div>
                <!--end col-6-->



            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
</div>
<!--end header-bc-->



<div class="news" style="">
    <div class="container">
        <Div class="row otherrowService">


            @foreach (var service in services)
            {
                <div class=" othercoolService">
                    <a class="new new-responsive" href="/Home/ServicesDetails/@service.Id">
                        <img src="@service.MainImage" class="img-responsive img-services" />
                        @if (en)
                        {


                            <h3>@service.TitleEnglish</h3>

                        }
                        else
                        {

                            <h3>@service.TitleArabic</h3>

                        }
                    </a>
                </div>

            }
















            @*<div class="col-lg-12">
                <nav class="nav-services" aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link">
                                2
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>


            </div>*@

        </Div>
        <!--end row-->
    </div>
    <!--end continer-->
</div>
<!--end news-->
















<div class="servpagenew" style="display:none">
    <div class="container">
        <div class="row">
            @foreach (var service in services)
            {


                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="servItemnew">
                        <div>
                            <div class="images">
                                <img src="@service.MainImage">
                            </div>
                            <div class="discription">
                                @if (en)
                                {


                                    <h2>@service.TitleEnglish</h2>
                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@service.DescriptionEnglish)</p>
                                    </div>

                                }
                                else
                                {

                                    <h2>@service.TitleArabic</h2>
                                    <div class="ContentPargraph">
                                        <p>@Html.Raw(@service.DescriptionArabic)</p>
                                    </div>

                                }
                                <a href="/Home/ServicesDetails/@service.Id"> @Resources.Global.ReadMore</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



